.nav-bar{
  color: #000080;
}

.cart-icon {
  cursor: pointer;
}

.user-col {
  font-size: large;
}

.btn-link {
  color: navy;
  font-size: large;
  font-weight: 400;
  text-decoration: none;
}

.line-item-count {
  font-size: large;
  position: relative;
  bottom: 65px;
  right: -35px;
  z-index: 2;
  color: whitesmoke;
  background-color: rgb(167, 1, 1);
  max-width: 25px;
  min-height: 25px;
  border-radius: 50%;
}

.btn-toggle{
  color: navy;
  font-size: xx-large;
  font-weight: 400;
}
